

<div class="container backdrop-blur-md text-gray-50 mx-auto px-4 bg-gray-300 items-center text-center">
    <div class="bg-cyan-300 p-8 content-center subpixel-antialiased">

        <div class="bg-slate-500">
            <div class="text-3xl">
                <%= @date%>
            </div>
            <div id="time" class=" text-6xl"></div>
        </div>
        

        <div class="bg-gradient-to-r from-blue-500 p-8">
            <div class="text-8xl">
                <%= @temp%> C
            </div>
            <div class="text-4xl">
                <%= @desc%>
            </div>
        </div>

        <div class="container">
            <!--
            
            Feels like
            Humitidy
            Gust
            Clouds/visibility

            -->
        </div>
    </div>
</div>