

<div class="bg-black text-white container mx-auto pt-5">
    <h1 class="">Today's Weather</h1>
<p>Temperature: <%= @temp %> Kelvin</p>
<p>Description: <%= @desc %></p>
<p>time is <div id="time"></div></p>
<p>date is <%= @date%></p>



</div>